@font-face {
    font-family: 'Roboto';
    src: url(../landing-page/fonts/Roboto/Roboto-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main {
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 32px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.name-header {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
}

.image-hero {
    width: 800px;
    height: 250px;
}

.title-hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-bottom: 16px;
}

.text-hero {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 16px;
}

.info-hero {
    padding-right: 64px;
}

.button-hero {
    font-size: 18px;
    background: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 8px 32px;
    border-style: none;
}

.information {
    background-color: white;
    text-align: center;
    padding-bottom: 100px;
}

.title-information {
    padding: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container-information {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.group {
    max-width: 200px;
}

.images-information {
    width: 140px;
    height: 150px;
    padding-bottom: 16px;
}

.quote {
    background-color: #E5E7EB;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 200px;
    padding-bottom: 150px;
}

.content-quote {
    font-size: 36px;
    color: #1F2937;
    text-align: left;
}

.author-quote {
    text-align: right;
    font-size: 24px;
}